on: 
  workflow_dispatch:
    branches:
      - master 
name: Deploy to Production
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2.3.2
      
    - name: Deploy to server
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
        SSH_PRIVATE_KEY: ${{ secrets.PROD_SERVER_SSH_KEY }}
        ARGS: "-rltgoDzvO"
        SOURCE: "dist/"
        REMOTE_HOST: ${{ secrets.PROD_SERVER_HOST }}
        REMOTE_USER: ${{ secrets.PROD_SERVER_USER }}
        TARGET: ${{ secrets.PROD_SERVER_TARGET }}