name: Deploy to QA
on: [workflow_dispatch]
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2.3.2
    
    - name: Upload Files Over SFTP
      run: |
        cd $GITHUB_WORKSPACE
        sftp ${{ secrets.PROD_FTP_USERNAME }}@${{ secrets.PROD_FTP_URL }}
        ${{ secrets.PROD_FTP_PASSWORD }}
        put -r ./web-deploy/*
        exit