on: 
  workflow_dispatch:
    branches:
      - master 
name: Deploy to QA
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2.3.2
    
    - name: Upload files
      uses: SamKirkland/FTP-Deploy-Action@4.0.0
      with:
        server: ${{ secrets.QA_FTP_URL }}
        username: ${{ secrets.QA_FTP_USERNAME }}
        password: ${{ secrets.QA_FTP_PASSWORD }}