on: 
  workflow_dispatch:
    branches:
      - master 
name: Deploy to QA
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2.3.2

    - name: Deploy to server
      run: |
        cd $GITHUB_WORKSPACE/${{ github.event.repository.name }}/dist
        sftp ${{ secrets.QA_SERVER_USER }}@${{ secrets.QA_SERVER_HOST }}
        ${{ secrets.QA_SERVER_PASSWORD }}
        put *
        exit