name: Deploy to QA
on: [workflow_dispatch]
jobs:
  web-deploy:
    name: Deploy to QA over SFTP
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2.3.2
    
    - name: Deploy to QA Server
      uses: easingthemes/ssh-deploy@v2.1.5
      env:
        SSH_PRIVATE_KEY: ${{ secrets.QA_SERVER_SSH_KEY }}
        ARGS: "-rltgoDzvO"
        SOURCE: "dist/"
        REMOTE_HOST: ${{ secrets.QA_SFTP_URL }}
        REMOTE_USER: ${{ secrets.QA_SFTP_USERNAME }}